# Python Basic - Type, Operator, String, Print

In [1]:
print('Hello World')

Hello World

In [5]:
a=1
print(type(a))

a="001"
print(type(a))

<class 'int'>
<class 'str'>

In [3]:
import tkinter as tk

# 윈도우 생성
root = tk.Tk()
root.title("My GUI")

# 라벨 생성
label = tk.Label(root, text="Hello, Tkinter!")
label.pack()

# 버튼 생성
def button_click():
    label.config(text="Button Clicked!")

button = tk.Button(root, text="Click Me!", command=button_click)
button.pack()

# 윈도우 실행
root.mainloop()

In [12]:
a = 10/3
print(a)
a= 10//3 #소수점 절삭연산
print(a)

3.3333333333333335
3

In [14]:
# 제곱연산자
a=2**3
print('a= '+str(a))

a= 8

# 문자열(string)

In [17]:
a='Hello World'
print('a = '+ a)
a='Hello World'*3
print('a = '+ a)
print('a[0] = '+ a[0])
print('a[0:5] = '+ a[0:5])

a = Hello World
a = Hello WorldHello WorldHello World
a[0] = H
a[0:5] = Hello

In [21]:
date='20230315'
year = date[0:4]
month = date[4:6]
day = date[6:]
date2 = year + '-' + month + '-' + day
print('Today = ' + date2)
print('string Length - Today is ' + str(len(date2)))

Today = 2023-03-15
string Length - Today is 10

In [24]:
color = '빨강'
fmt = '나는 %s을 좋아합니다.' % color
print(fmt)
color = '초록'
fmt = '나는 %s을 좋아합니다.' % color
print(fmt)

나는 빨강을 좋아합니다.
나는 초록을 좋아합니다.

In [36]:
kor = 88
eng = 95
math = 97
sum = kor+eng+math
avg = sum/3
result = (sum,avg) #tuple형태 - read only
fmt = "sum : %d , avg : %.2f" %result #fmt = "sum : %d , avg : %f" %(sum,avg)
print(fmt)

print('result type :: ' +str(type(result)))

sum : 280 , avg : 93.33
result type :: <class 'tuple'>

# Tuple - (a,b), List - [1,2], Dict - {'a':1}

In [37]:
name = input("input your name : ")
print('name is ' + name)

input your name : cdg
name is cdg

In [46]:
a = input('input integer value : ')
print ('value is ' + a)
b = input('input integer value : ')
print('value is ' + b)
a= int(a)
b= int(b)
print('sum = ' + str(a+b))
print('sub = ' + str(a-b))
print('mul = ' + str(a*b))
print('div = ' + str(a/b))

input integer value : 15
value is 15
input integer value : 53
value is 53
sum = 68
sub = -38
mul = 795
div = 0.2830188679245283

In [50]:
price = int(input("물건 가격 : "))
num = int(input("구매 개수 : "))
pay = int(input("지불 금액 : "))
change = pay - price*num
print('물건 가격 : {}, 구매 개수 : {} , 지불 금액 : {} => 거스름 돈 : {}'.format(price,num,pay,change))

물건 가격 : 1200
구매 개수 : 3
지불 금액 : 4000
물건 가격 : 1200, 구매 개수 : 3 , 지불 금액 : 4000 => 거스름 돈 : 400

In [56]:
x = int(input('input x value -> '))
if x>0:
    print('positive')
elif x==0:
    print('zero')
else:
    print('negative')

input x value -> 0
zero

In [60]:
a = 5
b = 2
print('{a}>{b} : '.format(a=a,b=b) + str(a>b))
print('{a}<{b} : '.format(a=a,b=b) + str(a<b))
print('{a}=={b} : '.format(a=a,b=b) + str(a==b))
print('{a}!={b} : '.format(a=a,b=b) + str(a!=b))
print('{a}>={b} : '.format(a=a,b=b) + str(a>=b))
print('{a}<={b} : '.format(a=a,b=b) + str(a<=b))

5>2 : True
5<2 : False
5==2 : False
5!=2 : True
5>=2 : True
5<=2 : False

In [69]:
# 논리 연산자 - & , |  ! => and , or , not

kor = 60
eng = 90
comp = kor >= 70 and eng >= 90
print('comp Type : ' + str(type(comp)) + ', value : ' + str(comp))
comp = kor >= 70 or eng >= 90
print('comp Type : ' + str(type(comp)) + ', value : ' + str(comp))
comp = not kor == 70 # kor == 60
print('comp Type : ' + str(type(comp)) + ', value : ' + str(comp))

x=5
comp = x%2
print('x%2 == 0 comp Type : ' + str(type(comp)) + ', value : ' + str(comp))
comp = not x%2
print('x%2 == 0 comp Type : ' + str(type(comp)) + ', value : ' + str(comp))

comp Type : <class 'bool'>, value : False
comp Type : <class 'bool'>, value : True
comp Type : <class 'bool'>, value : True
x%2 == 0 comp Type : <class 'int'>, value : 1
x%2 == 0 comp Type : <class 'bool'>, value : False

# if ~ else, if ~ elif ~ else문

In [76]:
num=int(input('정수를 입력하세요 : '))
result = '입력된 정수는 100~1000사이에 있지 않습니다!'
if num>=100 and num <= 1000:
    result = "입력된 정수는 100~1000사이에 있습니다!"

print("입력된 정수 : %d"%num)
print('%s'%result)

정수를 입력하세요 : 465
입력된 정수 : 465
입력된 정수는 100~1000사이에 있습니다!

In [84]:
char = input('영어 소문자 하나를 입력하세요 : ')
if(char == 'a' or char == 'e' or char =='i' or char=='o' or char =='u'):
    print('%s -> 모음' %char)
else:
    print('%s -> 자음' %char)

영어 소문자 하나를 입력하세요 : 100
100 -> 자음

In [112]:
month = int(input("월을 입력해주세요: "))
if month >= 3 and month <= 5:
    season = '봄'
    print(month,'월은',season,"입니다")
elif month >= 6 and month <= 8:
    season = '여름'
    print(month,'월은',season,"입니다")
elif month >= 9 and month <= 11:
    season = '가을'
    print(month,'월은',season,"입니다")
elif month ==12 or month == 1 or month == 2:
    season = '겨울'
    print(month,'월은',season,"입니다")
else:
    print("월이 잘못 입력되었습니다.")

월을 입력해주세요: 12
12 월은 겨울 입니다

# 반복문 ... for, while

In [130]:
cnt = 5
for i in range(cnt):     # for(i=0;i<cnt(5);i++)
    print("[{}] hello world".format(i))
print('=' * 20)
    
for x in range(2,6):     # for(x=2;x<6;x++) .. range(start,final)
    print(x)
print('=' * 20)
    
for x in range(2,30,2):     # for(x=2;x<30;x+=2) .. range(start,final,plus)
    print(x)
print('=' * 20)
    
fruits = ['apple','banana','cherry']
for fruit in fruits:
    if fruit == 'banana':
        #break
        continue
    print(fruit)  
print('=' * 20)
    
for x in fruits:
    for y in fruits:
        print(x,y)
print('=' * 20)

for x in [0,1,2,3,4,5,6]:
    print(x)

[0] hello world
[1] hello world
[2] hello world
[3] hello world
[4] hello world
====================
2
3
4
5
====================
2
4
6
8
10
12
14
16
18
20
22
24
26
28
====================
apple
cherry
====================
apple apple
apple banana
apple cherry
banana apple
banana banana
banana cherry
cherry apple
cherry banana
cherry cherry
====================
0
1
2
3
4
5
6

# for -> 구구단

In [181]:
for x in range(0,10):
    for y in range(2,10):
        if x == 0:
            print(str(y)+"단"+'\t', end = ' ')
        else:
            print('%dx%d=%-2d\t'%(y,x,x*y),end=' ')
    print()

2단	 3단	 4단	 5단	 6단	 7단	 8단	 9단
2x1=2 	 3x1=3 	 4x1=4 	 5x1=5 	 6x1=6 	 7x1=7 	 8x1=8 	 9x1=9
2x2=4 	 3x2=6 	 4x2=8 	 5x2=10	 6x2=12	 7x2=14	 8x2=16	 9x2=18
2x3=6 	 3x3=9 	 4x3=12	 5x3=15	 6x3=18	 7x3=21	 8x3=24	 9x3=27
2x4=8 	 3x4=12	 4x4=16	 5x4=20	 6x4=24	 7x4=28	 8x4=32	 9x4=36
2x5=10	 3x5=15	 4x5=20	 5x5=25	 6x5=30	 7x5=35	 8x5=40	 9x5=45
2x6=12	 3x6=18	 4x6=24	 5x6=30	 6x6=36	 7x6=42	 8x6=48	 9x6=54
2x7=14	 3x7=21	 4x7=28	 5x7=35	 6x7=42	 7x7=49	 8x7=56	 9x7=63
2x8=16	 3x8=24	 4x8=32	 5x8=40	 6x8=48	 7x8=56	 8x8=64	 9x8=72
2x9=18	 3x9=27	 4x9=36	 5x9=45	 6x9=54	 7x9=63	 8x9=72	 9x9=81

In [176]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.dhlottery.co.kr/gameResult.do?method=byWin'
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')
winning_numbers = soup.select('.num.win span')

print("최근 로또 당첨번호는 다음과 같습니다:")
print()
for number in winning_numbers:
    print(number.text, end=' ')

최근 로또 당첨번호는 다음과 같습니다:

11 23 25 30 32 40

# LIST

In [194]:
color = ['red','green','white','black','blue']
print(color)
print(type(color))
print(color[0])
print(color[1])
print(color[2])
print(type(color[1]))
print(color[1:4])
print(type(color[1:4]))

nums = list(range(1,21,2))
print(nums)
print(nums[3:7])

animals = ['사자','호랑이','원숭이','곰','사슴']
i=0
while i<len(animals):
    print(animals[i])
    i+=1
print('=' * 50)

flower = ['무궁화','장미','개나리']
print(flower)
flower.append('벗꽃') #리스트에 추가
print(flower)
flower.remove('장미') #리스트에서 삭제
print(flower)

['red', 'green', 'white', 'black', 'blue']
<class 'list'>
red
green
white
<class 'str'>
['green', 'white', 'black']
<class 'list'>
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[7, 9, 11, 13]
사자
호랑이
원숭이
곰
사슴
==================================================
['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '벗꽃']
['무궁화', '개나리', '벗꽃']

In [199]:
scores = []

while True:
    x= int(input("성적을 입력하시오(종료시 -1입력) : "))
    if x == -1:
        break
    else:
        scores.append(x)

sum = 0
for score in scores:
    sum += score

avg = sum/len(scores)
print('합계 : %d, 평균 : %.2f'%(sum,avg))

성적을 입력하시오(종료시 -1입력) : 100
성적을 입력하시오(종료시 -1입력) : 88
성적을 입력하시오(종료시 -1입력) : 100
성적을 입력하시오(종료시 -1입력) : 97
성적을 입력하시오(종료시 -1입력) : 100
성적을 입력하시오(종료시 -1입력) : 75
성적을 입력하시오(종료시 -1입력) : -1
합계 : 560, 평균 : 93.33

In [2]:
fruits = ['apple','banana','mango','cherry','kiwi']
newlist = [x for x in fruits if 'n' in x]
print(newlist)
print('='* 100)

numbers = [[1,2,3],[4,5,6],[7,8,9]]
print(numbers)
print(type(numbers))

for i in range(len(numbers)):
    for j in range(len(numbers[i])):
        print("numbers[{}][{}] = {}".format(i,j,numbers[i][j]))

['banana', 'mango']
====================================================================================================
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
numbers[0][0] = 1
numbers[0][1] = 2
numbers[0][2] = 3
numbers[1][0] = 4
numbers[1][1] = 5
numbers[1][2] = 6
numbers[2][0] = 7
numbers[2][1] = 8
numbers[2][2] = 9

In [230]:
scores = [
    [75,83,90],
    [86,86,73],
    [76,95,83],
    [89,96,69],
    [89,76,93]
]
print(scores)
print('='*100)

row_length = len(scores)
col_length = len(scores[0])
print('row_length = {}'.format(row_length))
print('col_length = {}'.format(col_length))

for x in range(row_length):
    sum = 0
    avg = 0.0
    for y in range(col_length):
        sum = sum+scores[x][y]
    avg = sum/len(scores[x])
    print('%d번째 학생의 합계 : %d, 평균 : %.2f'%(x+1,sum,avg))

[[75, 83, 90], [86, 86, 73], [76, 95, 83], [89, 96, 69], [89, 76, 93]]
====================================================================================================
row_length = 5
col_length = 3
1번째 학생의 합계 : 248, 평균 : 82.67
2번째 학생의 합계 : 245, 평균 : 81.67
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 258, 평균 : 86.00

In [229]:
n = int(input("양의 정수 입력 : "))
sum = 0

for x in range(1,n+1):
    if x%3 == 0:
        sum += x
    elif x%5==0:
        sum += x

print(sum)

양의 정수 입력 : 20
98

In [237]:
inputList = []
while True:
    x = int(input("입력 : "))
    if x <0 :
        break
    else:    
        inputList.append(x)
min = 100

for i in range(len(inputList)):
    if i >0:
        if abs(inputList[i]-inputList[i-1]) < min :
            min =  abs(inputList[i]-inputList[i-1])

print(min)

입력 : 10
입력 : 5
입력 : 19
입력 : 27
입력 : 41
입력 : -1
5

# Function

In [242]:
#def hello():
def hello(name):
    print('{}: This is hello function'.format(name))

In [244]:
fruits = ['apple','banana','mango','cherry','kiwi']
for fruit in fruits:
    hello(fruit)

apple: This is hello function
banana: This is hello function
mango: This is hello function
cherry: This is hello function
kiwi: This is hello function

In [1]:
def sum(a,b):
    return a+b

In [7]:
sum(10,10)

10 ~ 10의 정수의 합계 : 10

In [3]:
def calc(a,b):
    sum = a+b
    avg = sum/2
    return sum,avg

In [5]:
ret = calc(10,10)
print(ret)
print(type(ret))

(20, 10.0)
<class 'tuple'>

In [11]:
def sum(start,end):
    hap = 0
    for i in range(start,end+1):
        hap += i
    #print('%d ~ %d의 정수의 합계 : %d'%(start,end,hap))
    return hap
    


start = 1
end = 10
hap = sum(start,end)
print('%d ~ %d의 정수의 합계 : %d'%(start,end,hap))
start = 100
end = 200
hap = sum(start,end)
print('%d ~ %d의 정수의 합계 : %d'%(start,end,hap))
sum(200,300)

1 ~ 10의 정수의 합계 : 55
100 ~ 200의 정수의 합계 : 15150

25250

# File I/O

In [12]:
file = open('sample.txt','w')
file.write('안녕하세요. KCCI 수업 중입니다.')
file.close()
print('sample.txt 파일 쓰기 완료')

sample.txt 파일 쓰기 완료

In [15]:
scores = [
    '안소영 97 80 93 97 93',
    '정예린 86 100 93 86 90',
    '김세린 91 88 99 79 92',
    '연수정 86 100 93 89 92',
    '박지아 80 100 95 89 90'
]
data = ''
for item in scores:
    data = data+item +'\n'
print(data)

#파일에 출력
file=open('scores.txt','w')
file.write(data)
file.close()

안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88 99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90

In [19]:
file = open('scores.txt','r')
lines = file.readlines()
print(type(lines))
print(lines)

for line in lines:
    print(line, end = '')

file.close()

<class 'list'>
['안소영 97 80 93 97 93\n', '정예린 86 100 93 86 90\n', '김세린 91 88 99 79 92\n', '연수정 86 100 93 89 92\n', '박지아 80 100 95 89 90\n']
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88 99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90

# Class

class [className]:
    변수 a
    변수 b
    ...
    def method1():
        문장 1
        문장 2
        ...
    def method2():
        문장 1
        문장 2
        ...

In [4]:
class Fruit:
    name = 'orange'
    color = 'yellow'
    
    def taste(self):
        print('새콤하다')
    def vitamin(self):
        print('비타민 C가 풍부하다')

In [8]:
orange = Fruit()
print(orange)
print(type(orange))

print('과일명 : {}'.format(orange.name))
print('색상 : {}'.format(orange.color))
orange.taste()
orange.vitamin()

<__main__.Fruit object at 0x0000022390B931C0>
<class '__main__.Fruit'>
과일명 : orange
색상 : yellow
새콤하다
비타민 C가 풍부하다

### c++ Programming에서의 Class

class CParent{
    int a = 10;
    int b = 10;
    #생성자
    CParent(){cout << "ctor"<<endl;}
    #사용자 정의 생성자
    CParent(/*this*/,int a, int b){
        #a=a; ?? => this->a 사용
        #b=b; ?? => this->b 사용
        this->a = a;
        this->b = b;
        cout << "ctor"<<endl;
    }
    void Age(this){    }
    ~CParent(){cout << "dtor"<<endl;}
}

In [11]:
class Circle:
    radius = 10
    
    def getArea(self):
        area = 3.141592 * (self.radius ** 2)
        return area
   
    def getCircum(self):
        circum = 2 * 3.141592 * self.radius
        return circum
    
cir = Circle()

print('반지름 : {}'.format(cir.radius))
print('원의 면적 : {:.2f}'.format(cir.getArea()))
print('원주의 길이 : {:.2f}'.format(cir.getCircum()))

반지름 : 10
원의 면적 : 314.16
원주의 길이 : 62.83

In [25]:
class Student:
    name = '황재호'
    kor = 80
    eng = 90
    math = 100
    def getSum(self):
        sum = self.kor + self.eng + self.math
        return sum
    def getAvg(self):
        avg = self.getSum()/3
        return avg

In [30]:
st = Student()

print('이름 : {}'.format(st.name))
print('국어 : {}'.format(st.kor))
print('영어 : {}'.format(st.eng))
print('수학 : {}'.format(st.math))
print('합계 : {:.1f}'.format(st.getSum()))
print('평균 : {:.1f}'.format(st.getAvg()))

이름 : 황재호
국어 : 80
영어 : 90
수학 : 100
합계 : 270.0
평균 : 90.0

In [34]:
#class 생성자
class Student:
    name = '황재호'
    kor = 80
    eng = 90
    math = 100
    
    def __init__(self, name= '황재호', kor= 80, eng= 90, math= 100):     #매개변수에 값을 초기화 함으로 기본 생성자로 작동이 가능하게함
        #코드 작성
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
        
    def getSum(self):
        sum = self.kor + self.eng + self.math
        return sum
    
    def getAvg(self):
        avg = self.getSum()/3
        return avg

In [36]:
st1 = Student('홍길동',85,93,98)
st2 = Student()
print('이름 : {}'.format(st1.name))
print('국어 : {}'.format(st1.kor))
print('영어 : {}'.format(st1.eng))
print('수학 : {}'.format(st1.math))
print('합계 : {:.1f}'.format(st1.getSum()))
print('평균 : {:.1f}'.format(st1.getAvg()))
print('='*50)
print('이름 : {}'.format(st2.name))
print('국어 : {}'.format(st2.kor))
print('영어 : {}'.format(st2.eng))
print('수학 : {}'.format(st2.math))
print('합계 : {:.1f}'.format(st2.getSum()))
print('평균 : {:.1f}'.format(st2.getAvg()))

이름 : 홍길동
국어 : 85
영어 : 93
수학 : 98
합계 : 276.0
평균 : 92.0
==================================================
이름 : 황재호
국어 : 80
영어 : 90
수학 : 100
합계 : 270.0
평균 : 90.0